@if (userDetailsIsLoading()) {
  <div class="user-detail-loader">
    <p-progressspinner ariaLabel="Loading user details" />
  </div>
} @else if (user(); as currentUser) {
  <h1 class="user-detail-title">{{ pageTitle() }}</h1>

  <p-card>
    <div class="user-detail-layout">
      <admin-app-user-detail-profile [user]="currentUser" />

      <admin-app-user-detail-account-details [account]="currentUser.account" />
    </div>

    @if (currentUser.account; as userAccount) {
    <div class="user-detail-summary">
      <p-card>
        <div class="user-detail-summary-row">
          <span>Available balance:</span>
          <strong>{{ userAccount.available_balance | number: '1.0-0' }}€</strong>
        </div>
      </p-card>

      <p-card>
        <div class="user-detail-summary-row">
          <span>Total Deposit:</span>
          <strong>{{ userAccount.total_deposit | number: '1.0-0' }}€</strong>
        </div>
      </p-card>

      <p-card>
        <div class="user-detail-summary-row">
          <span>Total Withdraw:</span>
          <strong>{{ userAccount.total_withdraw | number: '1.0-0' }}€</strong>
        </div>
      </p-card>
    </div>
  }

    <p-tabs class="user-detail-tabs" value="profile">
      <p-tablist>
        <p-tab value="profile">Profile</p-tab>
        <p-tab value="campaigns">Campaigns</p-tab>
        <p-tab value="transactions">Transactions</p-tab>
        <p-tab value="withdraws">Withdraws</p-tab>
        <p-tab value="documents">Documents</p-tab>
      </p-tablist>

      <p-tabpanels>
        <p-tabpanel value="profile">
          <admin-app-user-detail-profile-banks
            [userId]="currentUser.id"
            [account]="currentUser.account"
          />
        </p-tabpanel>
        <p-tabpanel value="campaigns" />
        <p-tabpanel value="transactions" />
        <p-tabpanel value="withdraws" />
        <p-tabpanel value="documents" />
      </p-tabpanels>
    </p-tabs>
  </p-card>
} @else {
  <p-message severity="error" text="User not found" />
}
